@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
         url('/assets/fonts/raleway.woff2'),
         url('/assets/fonts/raleway.woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: bold;
    src: local('Raleway Bold'),
         url('/assets/fonts/raleway-bold.woff2'),
         url('/assets/fonts/raleway-bold.woff');
}

body {
    text-align: center;
    font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.35;
}

header, main, footer {
    padding: 0 20%;
}

header {
    margin-bottom: 7em;
    padding: 2em 0;
    background-color: #4686a0;
    background-image: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
    color: white;
}

.logo {
    width: 10em;
}

h2 {
    margin-bottom: 1em;
}

.buttons {
    margin-top: 2em;
    padding-left: 0;
    list-style: none;
}

.buttons li {
    display: inline-block;
    margin-bottom: 0.5em;
    margin-right: 1em;
}

.button {
    padding: 0.6em 0.5em;
    text-decoration: none;
    color: inherit;
    border: 1px solid white;
    border-radius: 3px;
}

.button:hover,
.button:active,
.button:focus {
    background: hsla(0, 0%, 100%, 0.2);
}

.features ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.features ul li {
    width: 230px;
    margin: 2em auto;
}

.features img {
    height: 100px;
}

footer {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
